body{
	color: #323232;
	background-color: #e9eaee;
	background-position: left top;
	background-size: 100%;
	background-image: url(../img/bg-header-3.jpg);
	background-repeat: no-repeat;
	font-family: 'Arial', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #56cde7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #56cde7;
    cursor: pointer;
}

#filter-target, #filter-cast, #filter-cost, #filter-damage{
	padding: 10px;
	display: inline-block;
}

#filter-nature{
	padding: 15px;
	display: inline-block;

}

#filter-nature .btn{
	margin-left: 20px;
	width: 150px;
}

.divider{
	width: 1px;
	padding: 15px;
	display: inline-block;
}
#filter .list-group-item {
  padding: 25px;
  display: inline-block;
}

.base-header {
	color: #323232;
	overflow: hidden;
	margin: 24px 0 0 0;
	padding: 36px 0 0 0;
	border-radius: 12px 12px 0 0;
}

.base-header h1,
.base-header h2 {
	margin: 0; padding: 0;
}

.base-header h1 {
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 36px 0 12px 0;
}

.base-header h1 span {
	color: #ffffff;
}

.base-header p {
	border-radius: 12px;
	background-color: #ffffff;
	display: inline-block;
	padding: 4px 36px;
	box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.base-header a {
	color: #5694ff;
	text-decoration: underline;
}

.base-menu {
	margin: 48px 0 0 0; padding: 8px 0;
	background-color: rgba(53,70,94,0.72);
}

.base-menu ul {
	list-style: none;
	margin: 0 30px; padding: 0;
}

.base-menu ul li {
	margin: 0 12px 0 0; padding: 0;
	display: inline-block;
}

.base-menu ul li a {
	display: block;
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	transition: all .3s ease;
	text-transform: uppercase;
	margin: 0; padding: 4px 12px;
}

.base-menu ul li a i {
	font-weight: bold;
	margin: 0 4px 0 0;
}

.base-menu ul li.active a {
	color: #858585;
	border-radius: 18px;
	background-color: #ffffff;
}

.base-content {
    background: grey;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
	margin: 0px 0 24px 0; padding: 36px;
}

.base-content .alert {
	font-size: 12px;
	padding: 12px;
}

.base-content h2 {
	color: #3871d3;
	font-size: 24px;
	font-weight: bold;
	margin: 0; padding: 0;
}

.base-content h2 + p {
	color: #858585;
	margin: 0 0 24px 0;
}

.base-content .dataTables_wrapper .dataTables_length select {
	width: 84px;
	margin: 0 4px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.base-content .dataTables_wrapper input {
	width: auto;
	padding: 4px 12px 4px 6px;
	border: 1px solid #cccccc;
	position: relative;
}

.base-content .dataTables_wrapper .dataTables_length {
	margin: 8px 0 0 0;
}

.base-content .dataTables_wrapper table.dataTable.no-footer {
	margin: 0 0 60px 0;
	transform: translate(0,24px);
}

.base-content .dataTables_wrapper table.dataTable.no-footer thead {
	background-color: #efefef;
}

.base-content .dataTables_wrapper table.dataTable.no-footer tbody td {
	padding: 18px 6px;
}

td a {
	color: #858585;
	pointer-events: none;
}

td.affiliation[affiliation="“akatsuki”" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/akatsuki.png);
}

td.affiliation[affiliation="ame" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/ame.png);
}

td.affiliation[affiliation="“hebi”" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/hebi.png);
}

td.affiliation[affiliation="iron" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/iron.png);
}

td.affiliation[affiliation="iwa" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/iwa.png);
}

td.affiliation[affiliation="kiri" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/kiri.png);
}

td.affiliation[affiliation="konoha" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/konoha.png);
}

td.affiliation[affiliation="kumo" i]  {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/kumo.png);
}

td.affiliation[affiliation="none" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/none.png);
}

td.affiliation[affiliation="oto" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/oto.png);
}

td.affiliation[affiliation="suna" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/suna.png);
}

td.affiliation[affiliation="“taka”" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/taka.png);
}

td.affiliation[affiliation="taki" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
	background-image: url(../img/belong/taki.png);
}

td.rarity[rarity="1" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/1.png);
}

td.rarity[rarity="2" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/2.png);
}

td.rarity[rarity="3" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/3.png);
}

td.rarity[rarity="4" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/4.png);
}

td.rarity[rarity="5" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/5.png);
}

td.rarity[rarity="6" i] {
	width: 60px; height: 60px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-image: url(../img/rarity/6.png);
}

.news-box {
	cursor: pointer;
	display: block;
	overflow: hidden;
	border-radius: 1px;
	margin: 0 0 18px 0;
    background-color: #ffffff;
	box-shadow: 0 0 60px rgba(0,0,0,0.12);
	transition: all .3s ease;
}

.news-box:hover {
	text-decoration: none;
}

.news-box .img {
	flex: 100%;
	background-size: cover;
	width: 100%; height: 96px;
	border-bottom: 1px solid #cccccc;
}

.news-box .base {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 1px solid #cccccc;
	background-color: #9fa54f;
}

.news-box .base.event  {
	background-color: #a16756;
}
.news-box .base.gacha  {
	background-color: #5294a4;
}
.news-box .base.sale  {
	background-color: #9d8753;
}

.news-box .base .category {
	flex: 1;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	padding: 4px 8px;
}

.news-box .base h4 {
	flex: 5;
	color: #9fa54f;
	font-size: 14px;
	background-color: #ffffff;
	margin: 0; padding: 12px 8px;
}

.news-box .base.event h4 {
	color: #a16756;
}
.news-box .base.gacha h4 {
	color: #5294a4;
}
.news-box .base.sale h4 {
	color: #9d8753;
}


.news-line {
	cursor: pointer;
	display: block;
    overflow: hidden;
	border-radius: 1px;
	margin: 0 0 18px 0;
    background-color: #ffffff;
	box-shadow: 0 0 60px rgba(0,0,0,0.12);
}

.news-line:hover {
	text-decoration: none;
}

.news-line h4 {
	color: #a16756;
	font-size: 14px;
	margin: 0; padding: 12px;
	background: #ffffff;
}

.news-line.urgent h4 {
	color: #cb123e;
	font-weight: bold;
}

.footer {
	text-align: center;
	margin: 36px 0 0 0;
}

.footer p {
	color: #858585;
	font-size: 12px;
	margin: 0; padding: 0;
}

.unit-char {
	padding:5px;
}

.unit-thumb{

	
}
.chara-name{
	margin-left: 15px;
	background-color: white;
	border-style: inset;
}

.alert{
	margin-bottom: 15px;
	padding: 15px;
}

.alert-kizuna{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,red,yellow,red)
	border-box;
}

.alert-ranbu{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,darkred,red,darkred)
	border-box;
}

.alert-ranbu{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,darkred,red,darkred)
	border-box;
}
.alert-duo{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,green,white,green)
	border-box;
}
.alert-god{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,silver,white, silver)
	border-box;
}
.alert-gk{
	padding: 20px;
	margin-top: 5px;
	background: linear-gradient(to bottom right,red,black,black,red)
	border-box;
}

.gk-text{
	color: yellow;
}

.alert-ex{
	padding: 20px;
	margin-top: 10px;
	background: linear-gradient(to bottom right,orange,white,orange)
	border-box;
}

.alert-origin{
	padding: 20px;
	margin-top: 10px;
	background: linear-gradient(to bottom right,skyblue,white,skyblue)
	border-box;
}
.alert-destroyer{
	padding: 20px;
	margin-top: 10px;
	color: white;
	background: linear-gradient(to bottom right,darkblue,black,darkblue)
	border-box;
}

#rainbow{
	background: linear-gradient(to bottom right,red,magenta,blue,aqua,lime,yellow,red)
	border-box;
}

#gold{
	background: linear-gradient(to bottom right,gold,white, gold) 
	border-box;
}

#legendaryG{
	background: linear-gradient(to bottom right,gold,white,gold) 
	border-box;
	box-shadow: 2px 2px 20px 2px purple, 3px 0px 16px 8px purple;
}

#legendaryR{
	background: linear-gradient(to bottom right,red,magenta,blue,aqua,lime,yellow,red)
	border-box;
	box-shadow: 2px 2px 20px 2px purple, 3px 0px 16px 8px purple;
}


#chara-name{
	color: white;
	background-color: black;
	text-align: center;
}



.team{
	background-color: blue;
	text-align: center;
	border-radius: 25px;
	padding: 7px;

}

.team h2{
	color: white;
}

.enemy{
	background-color: red;
	text-align: center;
	border-radius: 25px;
	padding: 7px;
}

.enemy h2{
	color: black;
}

.form-control{
	padding: 5px;
	margin-top: 5px;
}

.team-selection{
	padding: 5px;
}

.progress {height: 25px;}
.progress .sr-only { position: relative; }
.progress-bar { line-height: 25px; }
.progress-label {float: left;margin-right: em;}


.skills-container{
	padding: 1px;
}
#s1-button{
	border-radius: 15px;
	margin-top: 5px;

}
#s2-button{
   	border-radius: 15px;
   	margin-top: 5px;
}
#kizuna-button{
   	border-radius: 15px;
   	margin-top: 5px;
}

[data-ps]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

}

[data-ps]:after {
    content: attr(data-ps);
	width: 250px;
	word-break: normal;
    background-color: skyblue;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 10px;
}

[data-ps] {
    position: relative;
}

[data-pg]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

}
[data-pg]:after {
    content: attr(data-pg);
	width: 250px;
	word-break: normal;
    background-color: #B8EE89;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 10px;
}
[data-pg] {
    position: relative;
}

[data-ns]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

}
[data-ns]:after {
    content: attr(data-ns);
	width: 250px;
	word-break: normal;
    background-color: #FFA3A3;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 10px;
}
[data-ns] {
    position: relative;
}

[data-ng]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

}
[data-ng]:after {
    content: attr(data-ng);
	width: 250px;
	word-break: normal;
    background-color: #D0B9CF;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 10px;
}
[data-ng] {
    position: relative;
}

[data-unique]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;

}
[data-unique]:after {
    content: attr(data-unique);
	width: 250px;
	word-break: normal;
    background-color: white;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 10px;
}
[data-unique] {
    position: relative;
}

.img-unit{
	padding: 3px;
}

.base-ability .header.potential {
		background-image: linear-gradient(to bottom, #BAEA91, #E6F2D3);
	}

.base-ability .header.forbidden {
		background-image: linear-gradient(to bottom, #DF574D, #85342E);
	}

.base-ability .header.legendary {
		background-image: linear-gradient(to bottom, #4B0082, #BF5FFF);
	}

.base-ability .header-gear {
		flex: 3;
		display: flex;
		align-items: center;
		border-radius: 8px 0 0 8px;
		background-color: #3c2401;
		padding: 0;
		border-bottom: 1px solid #272204;
	}

.base-ability .header-gear.gear {
	background-image: linear-gradient(to bottom, #6082B6, #ADD8E6);
}

.base-gear .info .header-gear .equip{
	display: block;
	font-size: 12px;
	padding: 6px 12px 6px 6px;
	text-align: right;
	margin-left: 30px;
}

.base-gear .info .header-gear .equip #equiptext{
	color: white;
	padding: 5px;
}

#equip-button{
	margin-bottom: 15px;
	padding: 5px;
}

#equip1{
	padding: 5px;
}
#equip2{
	padding: 5px;
}
#equip3{
	padding: 5px;
}
#equip4{
	padding: 5px;
}
#equip5{
	padding: 2px;
}