<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ending_1136x640.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ending_1136x640_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>ending_316x331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{316,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,331}}</string>
                <key>sourceSize</key>
                <string>{316,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ending.png</string>
            <key>size</key>
            <string>{1140,1619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ed4ce7369f2f5177badef3d6587625:9cdc3c90abaf32ede81ee0c7a297908e:6837130d090a018ee55882e513d5d269$</string>
            <key>textureFileName</key>
            <string>ending.png</string>
        </dict>
    </dict>
</plist>
