<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opening_1136x640.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>opening_526x200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{526,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,200}}</string>
                <key>sourceSize</key>
                <string>{526,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opening.png</string>
            <key>size</key>
            <string>{1140,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e964e1a0fa4a220142fb69831aba1f6e:8453770db1c38aba1926d3d4dd09ee8a:f3fe1cc14799d843e12842b621835e88$</string>
            <key>textureFileName</key>
            <string>opening.png</string>
        </dict>
    </dict>
</plist>
