<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Hashirama Senju, Start of the Will of Fire</h1>
				<img src= "http://i.imgur.com/NRq89Cc.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>573</td>
						<td id="heart">Heart</td>
						<td>Konoha</td>
						<td>90</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>30,544</td>
						<td>31,289</td>
						<td>23,839</td>
						<td>200</td>
						<td>32%</td>
						<td>25%</td>
						<td>181%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Heart Type Konoha Character HP, ATK and DEF +100%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Wood Style: Wood Golem Jutsu</strong>
              <div>
             Deal 3% + 50,000 to all enemies.  Deal 4x damage to None affiliated characters, and 4x damage to Uchiha.  (Max 16x)</div>
              </td>
						<th>Type:</th>
						<td id="wood"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Everyone, To Me!!</strong>
                            <div>
						Own ATK and Skill Damage +500%, Chakra Recovery +30%.  Incoming Fire and Sharingan Skill Damage is halved</div>
						</td>
						<th>Type:</th>
						<td id="Unique"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Chakra +90, HP +150%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>ATK and Skill Damage +200% when Chakra > 50</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
