<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


   <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
   <link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Tsunade, Senju's True Successor</h1>
				<img src= "http://i.imgur.com/5hKA7gO.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>559</td>
						<td id="body">Body</td>
						<td>Konoha</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>14,859</td>
						<td>16,518</td>
						<td>10,484</td>
						<td>176</td>
						<td>16%</td>
						<td>15%</td>
						<td>160%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Body and Technique Type ATK and Skill Damage +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Strength of a Hundred Technique</strong>
                            <div>
							Deal 3% + 4,000 to all enemies and grant "Mitotic Regeneration" state.  While under "Mitotic Regeneration" deal 5x damage, if own ATK is buffed deal 3x damage (Max 15x) [Mitotic Regeneration: Heal to full when attacked, Can't Die.  Once the status leaves, set Chakra to 0]
							</td>
						<th>Type:</th>
						<td id="taijutsu">Taijutsu</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>50</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>We Are Fighting With Our Lives</strong>
                            <div>
							 Own ATK +120%, Recover 30% HP to all allies</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>50</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Skill Damage +100%, Recover 30% HP when attacked</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Chakra +50, ATK and Skill Damage +120%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
