<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Orochimaru, Legendary Sannin (Snake)</h1>
				<img src= "http://i.imgur.com/BuFoVYc.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>505</td>
						<td id="intellect">Intellect</td>
						<td>Oto</td>
						<td>30</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>13,559</td>
						<td>12,047</td>
						<td>10,519</td>
						<td>154</td>
						<td>14%</td>
						<td>15%</td>
						<td>146%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Intellect Character Skill Damage +50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Summoning: Manda</strong>
                            <div>
							Deal 8x attack damage to a single enemy ignoring 20% DEF.  High chance to cancel action.  If the enemy is an Intellect type, high chance to reduce their SPD by 50% </div>
						</td>
						<th>Type:</th>
						<td id="summoning">Summoning</td>
						<th>Cast Speed:</th>
						<td>Normal</td>
						<th>Chakra Cost:</th>
						<td>80</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>相応にさっさと散れ！</strong>
                            <div>
							 All enemies DEF -30% and own ATK +150%.  If the enemy is an Intellect character, high chance to Paralyze or Confuse.</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>ATK, DEF, SPD and Skill Damage +80% when HP > 80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Chakra Cost -30%, Recover 50% Chakra when the battle starts</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
