body{
	background: white;
	background-image: url("http://i.imgur.com/d7mHBPO.png");
}

table.att{
	width: 124%;
	border: 1px solid black;
	
}
table.att tr{
	border: 1px solid;
}
table.att th, td{
	padding: 2mm;
}
strong.specialName{
	font-size: 14px;
}


table.lead{
	width: 124%;
	font-size: 15px;
	border: 1px solid black;
}
table.lead th, td{
	padding: 2mm;
}
table.lead tr{
	border: 1px solid black;
	height: 30px;
}

//Gear Classes

td#One Star{
    text-align: left;
}
td#Two Star{
    text-align: left;
}
td#Three Star{
    text-align: left;
}
td#Four Star{
    text-align: left;
}
td#Five Star{
    text-align: left;
}
td#Name-cell{
    text-align: left;
}
td#Japanese Name-cell{
    text-align: left;
}
td#Rarity-cell{
    text-align: left;
}
td#Type-cell{
    text-align: left;
}
td#Effect-cell{
    text-align: left;
}
td#Unique Effect-cell{
    text-align: left;
}
td#Unique Effect Units-cell{
    text-align: left;
}

//Image
h1{
	text-align: right;
}
img{
	display: block;
	margin: 0 auto;
}

