<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Naruto Uzumaki, Nine Connections</h1>
				<img src= "http://i.imgur.com/An7hdo7.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>555</td>
						<td id="courage">Courage</td>
						<td>Konoha</td>
						<td>90</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>30,921</td>
						<td>41,556</td>
						<td>27,069</td>
						<td>259</td>
						<td>32%</td>
						<td>24%</td>
						<td>176%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Courage Type HP, ATK and Skill Damage +100%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Super Tailed Beast Rasenshuriken</strong>
                            <div>
							Deal 3% +30,000 to all enemies. If the enemy is "Neutral" to [Magnet, Fire, Water, Lava, Boiling, Melting, Wind and Tailed Beast], deal 4x damage, if they are "Weak" to one of those type, deal 2x damage (Maximum 8x). Damage varies between enemies. (Always Hit)							</div>
						</td>
						<th>Type:</th>
						<td id="Tailed">Tailed Beast</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>90</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Everyone, Lend Me Your Strength</strong>
                            <div>
							 Own Skill Damage +150% and Chakra Recovery +30%. All allies from the Five Village ATK +150%</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Normal</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Chakra +120, HP +150%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>ATK and Skill Damage +200% when Chakra > 50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
