<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Rin Nohara, A Wicked Flower's Noble Death</h1>
				<img src= "http://i.imgur.com/9UmSaEp.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>568</td>
						<td id="heart">Heart</td>
						<td>Konoha</td>
						<td>32</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>12,573</td>
						<td>9,430</td>
						<td>11,944</td>
						<td>147</td>
						<td>15%</td>
						<td>15%</td>
						<td>152%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Konoha Characters ATK, DEF and SPD +50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Shout of Despair</strong>
                            <div>
							Deal 3% + 2,000 to all enemies with a chance to cancel action, Confuse, Seal or Stun.  If the enemy is under (Poison, Paralysis, Confusion, Charmed, Sealed, Stunned or Toxic), deal 5x damage
							</td>
						<th>Type:</th>
						<td id="water"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>I..!</strong>
                            <div>
							Own DEF +100%, recover 50% HP.  Cast Speed +1 to Ally "Kakashi Hatake", "Obito Uchiha" and/or "Rin Nohara" 
							</div>
						</td>
						<th>Type:</th>
						<td id="Unique"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Own Chakra +50, HP and DEF +80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Skill Damage +100% when HP > 50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
