<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Minato Namikaze, Thoughts that Resonates</h1>
				<img src= "http://i.imgur.com/edrWxHm.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>522</td>
						<td id="intellect">INtellect</td>
						<td>Konoha</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>13,550</td>
						<td>19,030</td>
						<td>13,145</td>
						<td>176</td>
						<td>16%</td>
						<td>16%</td>
						<td>148%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Intellect and Courage ATK and SPD +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Sage Type: Rasengan</strong>
                            <div>
Deal 3% + 5,000 to all enemies, deal more damage the less enemies alive. Minimum 5x damage against 5 enemies, and Maximum 25x against 1 enemy [Always Hit]
						<th>Type:</th>
						<td id="sage">Sage</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>80</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Sense of Nostalgia</strong>
                            <div>
Recover large HP to all allies, if the ally belongs Konoha, Suna, Iwa, Kumo or Kiri, and grand the ability to Dodge Skills and grant "Resonance" state. [Resonance: SPD +40% and Skill Damage +20%, Resonance can be stack up to 3 times] *note: The duration of Resonance is not extended while stacking. Naruto and Minato's Resonance stacks, Skill Damage always increase but ATK or SPD varies depends on the who cast the buff.						</td>
						<th>Type:</th>
						<td id="unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>90</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Chakra +100, Cast Speed +1</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Skill Damage +150%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
