<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div id="art">
				<h1>Kakashi Hatake, Pair of Sharingan Eye </h1>
				<img src="http://i.imgur.com/SzKZRQ8.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>638</td>
						<td id="mind">知</td>
						<td>Konohagakure</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>13,655</td>
						<td>13,248</td>
						<td>10,388</td>
						<td>176</td>
						<td>16%</td>
						<td>16%</td>
						<td>173%</td>
					</tr>
				</table>
				<hr />
			<div class="details">
				<h3>Abilities</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>All type ATK, Lighting and Sharingan Skill Damage +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Kamui Shuriken</strong>
                            <div>
								Deal 30,000 fixed damage to one enemy.  High chance to crit for 2.5x dage.  Chance to place the enemy in a "Cut" state. [Cut: Skill cast speed -1, Skill Damage -30%]  
							</div>
						</td>
						<th>Type:</th>
						<td id="sharingan">Sharingan</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>90</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>We Will Save Our World</strong>
                            <div>
							All allies ATK +50% and place them in a "Rally" state. [Rally: ATK, DEF and SPD +30%, Recover 5% of HP and Chakra after every action]
							</div>
						</td>
						<th>Type:</th>
						<td id="unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Sharingan Damage +100%, Chance to dodge skills</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>ATK, DEF and SPD +25% for every Konoha character in the party (Including Self)</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<td>
						<img src="http://i.imgur.com/8ALLjoA.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Makeout Tactics</strong>
                            <div>
								Lightning & Sharingan Skill Damage +50%, HP +40%
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="skill">Skill</td>
						<td></td>
					</tr>
	
					<tr>
						<td>
						<img src="http://i.imgur.com/7SRLxJK.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Pakkun Netsuke</strong>
                            <div>
								Recover 10% HP and Chakra after every action, Skill Damage +50%
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="ae">Additional Effect</td>
						<td></td>
					</tr>
			
					<tr>
						<td>
						<img src="http://i.imgur.com/cOdstFD.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Surfboard</strong>
                            <div>
								ATK & SPD +50%, Lighting Skill Damage +20%
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="status">Status</td>
						<td></td>
					</tr>
					
					<tr>
						<td>
						<img src="http://i.imgur.com/hArWk9j.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Kakashi's Forehead Protector</strong>
                            <div>
								Chakra cost -15%, Recover 10% of HP after every action
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="chakra">Chakra</td>
						<td></td>
					</tr>
					<tr>
						<td>
						<img src="http://i.imgur.com/oCE2nnd.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Kakashi's Undershirt</strong>
                            <div>
								HP +40%, Medium chance to dodge skills
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="tolerance">Tolerance</td>
						<td></td>
					</tr>
					<tr>
						<td>
						<img src="http://i.imgur.com/pkZz1be.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Makeout Violence</strong>
                            <div>
								ATK +130%, All Skill Damage +30%
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="status">Status</td>
						<td></td>
					</tr>
					<tr>
						<td>
						<img src="http://i.imgur.com/ouPlSdq.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Makeout Paradise</strong>
                            <div>
								Skill Cast Speed +1, Low Chance to dodge skills
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="ae">Additional Effect</td>
						<td></td>
					</tr>
					<tr>
						<td>
						<img src="http://i.imgur.com/jJWqq83.png" height="50px" width="50px" /> 
						</td>
						<td>
						
							<strong>Obito's Eye</strong>
                            <div>
								Immune to Negative Effects, All Skill Damage +30%
							</div>
						</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th>Type:</th>
						<td id="ae">Additional Effect</td>
						<td></td>
					</tr>
				</table>
				
				
				<div class="notes">
					<h4>How to Get</h4>
						<li>Ninja Fest Exclusive</li>
				</div>
			</div>
			</div>
		</div>
		
