<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Gaara, Young Guardian of the Sand</h1>
				<img src= "http://i.imgur.com/Tkqg56Z.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>560</td>
						<td id="heart">Heart</td>
						<td>Suna</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>16,485</td>
						<td>11,871</td>
						<td>12,735</td>
						<td>149</td>
						<td>16%</td>
						<td>15%</td>
						<td>147%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Heart and Intellect Type HP and Skill Damage +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Guardian of the Sand: Mother's Thoughts</strong>
                            <div>
							Deal 3% + 10,000 to all enemies and lower the enemies Crit Damage by 100% and place them under "Sand" state.  If the enemies are under "Sand" state deal 4x damage, if enemies Crit Damage is lower deal 2x damage (Max 8x) [Sand: SPD -30%]
							</td>
						<th>Type:</th>
						<td id="seal">Sealing</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>70</td>
						<td></td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Everyone, To Me!!</strong>
                            <div>
							 Own SPD +120%, and Skill Damage +120% to character's from the 5 Village</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>90<td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>HP +120%.  Immune to all Skill Damage for 3 turns</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>HP and Skill Damage +100%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
