<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Kakashi hatake, A Heart Scar</h1>
				<img src= "http://i.imgur.com/4JD2yw3.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>569</td>
						<td id="technique">Technique</td>
						<td>Konoha</td>
						<td>30</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>9,883</td>
						<td>14,974</td>
						<td>8,086</td>
						<td>156</td>
						<td>14%</td>
						<td>15%</td>
						<td>158%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Konoha Characters Lightning Skill Damage +50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Chidori</strong>
                            <div>
Deal 7% + 3,000 to one enemy with a high chance to Stun.  If own SPD is buffed, deal 3x damage
							</td>
						<th>Type:</th>
						<td id="water"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Certain Kill</strong>
                            <div>
Own SPD + 100% and grant "Reservoir" state. [Reservoir, Skill Damage increase every time the Guard command is used.  Maximum 4 Guard and 1000% Skill Damage]
							</div>
						</td>
						<th>Type:</th>
						<td id="Unique"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>SPD +100%, Chance to Dodge Skills</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>HP +80%, Recover 10% Chakra after every action</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
