<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div id="art">
				<h1>Naruto Uzumaki, Ultimate Rasen</h1>
				<img src="http://i.imgur.com/WqjhoPA.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>602</td>
						<td id="courage">勇</td>
						<td>Konohagakure</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>12,812</td>
						<td>19,718</td>
						<td>11,428</td>
						<td>169</td>
						<td>16%</td>
						<td>16%</td>
						<td>160%</td>
					</tr>
				</table>
				<hr />
			<div class="details">
				<h3>Abilities</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Boost ATK, Wind Skill Damage and Sage Skill Damage by 40% to all characters</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Wind Style: Rasenshuriken (Sage Mode)</strong>
                            <div>
							Deak 7% + 1,500 to a single enemy. Deals 5x damage if this character is in "Sage Mode" status.  Chance to cancel "Sage Mode" Status when this skill is used.
							</div>
						</td>
						<th>Type:</th>
						<td id="sage">Sage</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>90</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>戦うしかねーみてーだな</strong>
                            <div>
							Boost own ATK and DEF by 100%.  Puts the user in "Sage Mode" state. ["Sage Mode": Increase critical strike and skill dodge chance.  Chakra increases by 25% after every action].
							</div>
						</td>
						<th>Type:</th>
						<td id="sage">Sage</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>80</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>When Chakra is MAX, boost ATK and Sage Skill Damage by 80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>When HP reaches 0, Fully recover HP and boost Skill Damage by 70%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				<div class="notes">
					<h4>How to Get</h4>
						<li>Ninjafest Exclusive</li>
				</div>
			</div>
			</div>
		</div>
		
		
