<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div id="art">
				<h1>Tobirama Senju, The Shinobi Who Guided Knowledge to the Village</h1>
				<img src="http://i.imgur.com/IHHwKgZ.jpg" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>607</td>
						<td id="tech">技</td>
						<td>Konohagakure</td>
						<td>??</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>????</td>
						<td>????</td>
						<td>????</td>
						<td>????</td>
						<td>????</td>
						<td>????</td>
						<td>????</td>
					</tr>
				</table>
				<hr />
			<div class="details">
				<h3>Abilities</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>??</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Water Style: Severing Wave</strong>
                            <div>
								??
							</div>
						</td>
						<th>Type:</th>
						<td id="water">Water</td>
						<th>Cast Speed:</th>
						<td>??</td>
						<th>Chakra Cost:</th>
						<td>??</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>??</strong>
                            <div>
							??
							</div>
						</td>
						<th>Type:</th>
						<td id="??">??</td>
						<th>Cast Speed:</th>
						<td>??</td>
						<th>Chakra Cost:</th>
						<td>??</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>??</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>??</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				<div class="notes">
					<h4>How to Get</h4>
						<li>Raid Drop</li>
				</div>
			</div>
			</div>
		</div>
		
		
