<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Hinata Hyuga, Connecting Life</h1>
				<img src= "http://i.imgur.com/l2z0LD1.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>567</td>
						<td id="courage">Courage</td>
						<td>Konoha</td>
						<td>30</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>12,683</td>
						<td>15,102</td>
						<td>9,908</td>
						<td>163</td>
						<td>14%</td>
						<td>14%</td>
						<td>158%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Courage Type HP, ATK and SPD +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
					<th>Skill 1:</td>
						<td>
							<strong>Rasengan</strong>
                            <div>
Deal 7% + 7,000 to one enemy, lowering their ATK by 50% and has a chance to Crit dealing 2x damage.  While under "Resonance" state, deal 65x damage (Max 12x)
							</div>
						</td>
						<th>Type:</th>
						<td id="tailed">Tailed Beast</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>60<td>
						
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Certainly, We Will Do it</strong>
                            <div>
Recover a large amount of HP to all allies, Chakra Cost -30% and grant "Resonance" state to characters from the 5 Village [Resonance: Basic Attack Dodge Chance +150% and Skill Damage +20%, Resonance can be stack up to 3 times] *note: The duration of Resonance is not extended while stacking
							</div>
						</td>
						<th>Type:</th>
						<td id="unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>80<td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Chakra +50, HP and DEF +100%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Skill Damage +100%, Recover 20% Chakra after every action</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
