<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Haku, Cursed Ice Jutsu</h1>
				<img src= "http://i.imgur.com/g24ADrr.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>577</td>
						<td id="Courage">Courage</td>
						<td>Kiri</td>
						<td>30</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>11,979</td>
						<td>11,979</td>
						<td>7,487</td>
						<td>156</td>
						<td>15%</td>
						<td>17%</td>
						<td>210%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6?</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Courage Characters ATK and SPD +50%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					
					<tr>
					<th>Skill 1:</td>
						<td>
							<strong>Secret Jutsu: Thousand Needles of Death</strong>
                        <div>
						Deal 20x ATK damage ignoring 40% DEF.  If own SPD is buffed, deal 4x damage
						</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>50<td>
						
					</tr>
					
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>This here..... The Cursed Power</strong>
                        <div>
						Own SPD and Skill Damage +100%, and grant a high chance to Dodge Skills
						</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>70<td>
						
					</tr>
		
					<tr>
						<th>Ability 1:</th>
						<td>Skill Damage +100%, Immune to Negative Effects</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>High Chance to have an extra turn.  (You can't get an extra turn during your extra turn)</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
