<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Might Gai, The Final Kick</h1>
				<img src= "http://i.imgur.com/yIKXFiB.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>564</td>
						<td id="courage">Courage</td>
						<td>Konoha</td>
						<td>35</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>10,561</td>
						<td>20,521</td>
						<td>6,633</td>
						<td>161</td>
						<td>15%</td>
						<td>17%</td>
						<td>160%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Courage and Body Type ATK and Taijutsu Skill Damage +80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
					<th>Skill 1:</td>
						<td>
							<strong>Night Gai</strong>
                            <div>
Deal 80x Attack Damage while ignoring 30% of one enemies DEF, Grant "Exhaust" state after using this skill [Exhaust: Action is disabled]
							</div>
						</td>
						<th>Type:</th>
						<td id="taijutsu">Taijutsu</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>100<td>
						
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Death Gate Open!!</strong>
                            <div>
Own ATK, DEF and SPD +100% and grant a high chance to dodge skills.  Reduce HP by 99%
							</div>
						</td>
						<th>Type:</th>
						<td id="taijutsu">Taijutsu</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>80<td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>ATK +20% after every action (Maximum 160% ATK)</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Skill Damage +300% when HP is < 70%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
