<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Obito Uchiha, Lost Light</h1>
				<img src= "http://i.imgur.com/3feXkyg.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>570</td>
						<td id="body">Body</td>
						<td>None</td>
						<td>30</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>11,081</td>
						<td>10,482</td>
						<td>8,385</td>
						<td>156</td>
						<td>14%</td>
						<td>15%</td>
						<td>171%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Body and Technique Type HP and SPD +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Wood Style: Cutting Sprigs Jutsu</strong>
                            <div>
Deal 7% + 3,000 to one enemy doing splash damage to all other enemies and has a high chance to crit dealing 4x more damage
							</td>
						<th>Type:</th>
						<td id="water"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Do You Accept This Reality?</strong>
                            <div>
Own ATK +100% and grant "Hatred" state. [Hatred: Skill Damage +250% and HP -30% after every action, Maximum 1000% Skill Damage]
							</div>
						</td>
						<th>Type:</th>
						<td id="Unique"></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>SPD +80%, Chance to Dodge Skills</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>HP +100%, Recover 10% HP after every action</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
