<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div id="art">
				<h1>Gaara, 愛情を知り得た者</h1>
				<img src="http://i.imgur.com/uLAXzES.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>609</td>
						<td id="heart">心</td>
						<td>Sunagakure</td>
						<td>28</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>15,562</td>
						<td>10,127</td>
						<td>12,948</td>
						<td>144</td>
						<td>14%</td>
						<td>14%</td>
						<td>144%</td>
					</tr>
				</table>
				<hr />
			<div class="details">
				<h3>Abilities</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Boost Max HP and ATK of Heart and Courage characters by 20%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Sand Prison Sealing</strong>
                            <div>
							Deal 7% + 1,000 to a single enemy. Chance to seal the enemies.  The more HP this character has, the more damage it deals. (100% = 2x)							
							</div>
						</td>
						<th>Type:</th>
						<td id="sealing">Sealing</td>
						<th>Cast Speed:</th>
						<td>NOrmal</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>脅威は排除するく</strong>
                            <div>
							Heall all lies by a large amount, and boost their SPD by 50%.  Decrease own DEF by 30%
							</div>
						</td>
						<th>Type:</th>
						<td id="none">None</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>60</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>Boost Max HP by 50%.  Recover 10% of HP after every action</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>WHen HP is above 80%, boost Skill Damage by 100%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				<div class="notes">
					<h4>How to Get</h4>
						<li>Gaara vs Rasa Part 1 Gacha. </li>
				</div>
			</div>
			</div>
		</div>
		
