<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Indra Otsutsuki, Power to Make Everything Possible</h1>
				<img src= "http://i.imgur.com/LaIEhWM.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>545</td>
						<td id="int">Intellect</td>
						<td>None</td>
						<td>32</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>14,376</td>
						<td>15,016</td>
						<td>14,208</td>
						<td>157</td>
						<td>15%</td>
						<td>16%</td>
						<td>146%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 6★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>All Type ATK and Sharingan Skill damage +40%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Fire Flame Control</strong>
                            <div>
						Deal 7% + 4,000 to one enemy with a chance to place the enemy in a "Black Burning" state.  If under "Solitude" state deal 10x damage   [Black Burning: Enemy continues to lose HP.  ATK and SPD -20% after every action]
							</td>
						<th>Type:</th>
						<td id="sharingan">Sharingan</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Power Can Change Everything</strong>
                            <div>
							 Own ATK, DEF and SPD +150% and grant the ability to dodge skills (High). Place Indra under "Solitude" and "Battle" state and reduce all allies HP by 70%
[Solitude: Skill Damage +200%, Immune to Negative status effect]
[Battle: Skill Damage +120%]</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Unique</td>
						<th>Cast Speed:</th>
						<td>Fast</td>
						<th>Chakra Cost:</th>
						<td>55</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>ATK and Sharingan Skill Damage +120%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>ATK +30% and recover 20% HP after every action (Maximum 120% ATK)</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
