<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div class="art">
				<h1>Darui, Modest Fortune</h1>
				<img src= "http://i.imgur.com/NZOVsBs.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>578</td>
						<td id="technique">Technique</td>
						<td>Kumo</td>
						<td>32</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>11,380</td>
						<td>11,680</td>
						<td>8,685</td>
						<td>143</td>
						<td>14%</td>
						<td>16%</td>
						<td>158%</td>
					</tr>
				</table>
				<hr />
				
				<div class="details">
				<h3>Abilities 5★</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>Lightning, Storm and Taijutsu Skill Damage +40% to all charaters</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					</tr>
	
					
					<tr>
					<th>Skill 1:</td>
						<td>
							<strong>Storm Style: Laser Circus</strong>
                        <div>
						Deal 3% + 2,000 to al enemies dealing more damage the less enemies.  Minimum 3x against 5 enemies, Maximum 15x against 1.  Also has a chance to cancel action
						</div>
						</td>
						<th>Type:</th>
						<td id="Unique">Storm</td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
					
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>メッキ剥がしてやるよ</strong>
                        <div>
						Own ATK and Skill Damage +100% and grant "Concentration" state.  [Concentration: Chakra Cost is reduced every turn, Max 30%]
						</div>
						</td>
						<th>Type:</th>
						<td id=""></td>
						<th>Cast Speed:</th>
						<td></td>
						<th>Chakra Cost:</th>
						<td><td>
						
					</tr>
		
					<tr>
						<th>Ability 1:</th>
						<td>ATK +70%, Reduce incoming Lighting, Water, Unique and Storm Skill Damage</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>HP and Skill Damage +80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				
				<h3>Gears</h3>
		
					<tr>
						<th></td>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
			</div>
			</div>
		</div>
		
		
