<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>990132</key>
        <string>{"resData":{"990132":{"connectCardGroupM":[{"connectCardGroupId":"1","connectCardId":"60060700","cardId":"60060701","connectSkillId":"720000"},{"connectCardGroupId":"2","connectCardId":"60060700","cardId":"60060702","connectSkillId":"720001"},{"connectCardGroupId":"3","connectCardId":"60061200","cardId":"60061201","connectSkillId":"0"},{"connectCardGroupId":"4","connectCardId":"60061200","cardId":"60061202","connectSkillId":"0"},{"connectCardGroupId":"5","connectCardId":"60070400","cardId":"60070401","connectSkillId":"0"},{"connectCardGroupId":"6","connectCardId":"60070400","cardId":"60070402","connectSkillId":"0"}]}}}</string>
    </dict>
</plist>
