<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>995016</key>
        <string>{"resData":{"995016":{"tacticsFieldEffectM":[{"tacticsFieldEffectId":"1","name":"\u30b5\u30f3\u30d7\u30eb1","objectKey":"1","value1":"10000","value2":"0","value3":"0","value4":"0","value5":"0","value6":"0"}]}}}</string>
    </dict>
</plist>
