<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <title>Naruto Shinobi Collection Database</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/detail.css" />

</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Naruto Shinobi Collection Database</h3>
            <h4 class="text-muted">Units</h4>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Front Page</a>
            <a class="btn btn-lg btn-success" href="/units" role="button">Units</a>
            <a class="btn btn-lg btn-success" href="/gear" role="button">Ninja Gear</a>
            <a class="btn btn-lg btn-success" href="/guides" role="button">Guides</a>
            <a class="btn btn-lg btn-success" href="/faq" role="button">FAQ</a>

        </div>          
        <div class="header">
			<div id="art">
				<h1>Minato Namikaze, Reconnecting with Trust</h1>
				<img src="http://i.imgur.com/9YShmB1.png" height="500px" width:"500px" /> 
			</div>
			<hr />
			<div class="stats">
				<h2>Stats and Details</h2>
				<table class="att">
					<tr>
						<th>No.</th>
						<th>Attribute</th>
						<th>Affiliation</th>
						<th>Cost</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<td>605</td>
						<td id="tech">技</td>
						<td>Konohagakure</td>
						<td>18</td>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>HP</th>
						<th>ATK</th>
						<th>DEF</th>
						<th>SPD</th>
						<th>Dodge Rate</th>
						<th>Crit Chance</th>
						<th>Crit Damage</th>
					</tr>
					<tr>
						<td>10,332</td>
						<td>11,734</td>
						<td>8,529</td>
						<td>129</td>
						<td>10%</td>
						<td>14%</td>
						<td>158%</td>
					</tr>
				</table>
				<hr />
			<div class="details">
				<h3>Abilities</h3>
				
				<table class="lead" colspan="8">
					<tr>
						<th>Leader Ability:</td>
						<td>For the first 2 turns, Technique character's are immunte to skill damage</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
	
					<tr>
						<th>Skill 1:</td>
						<td>
							<strong>Rasengan</strong>
                            <div>
							Deal 7% + 1,000 to a single target.  Chance to crit for 3x damage.
							</div>
						</td>
						<th>Type:</th>
						<td id="wind">Wind</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>70</td>
					</tr>
			
					<tr>
					<th>Skill 2:</td>
						<td>
							<strong>Teleportation Barrier</strong>
                            <div>
							Boost own DEF by 80%.  Intercepts single-target Skill attacks aimed at allies.
							</div>
						</td>
						<th>Type:</th>
						<td id="raijin">Space-Time</td>
						<th>Cast Speed:</th>
						<td>Fastest</td>
						<th>Chakra Cost:</th>
						<td>80</td>
					</tr>
				
					<tr>
						<th>Ability 1:</th>
						<td>For the first 8 turns, Boost SPD and ATK by 80%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					<tr>
						<th>Ability 2:</th>
						<td>Boost Skill Damage by 80%. Reduce Chakra cost by 10%</td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
						<th></th>
						<td></td>
					</tr>
				</table>
				<div class="notes">
					<h4>How to Get</h4>
						<li>Raid Drop</li>
				</div>
			</div>
			</div>
		</div>
		
		
